@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif   
    
   
}

header {
    width: 800px;
    height: 100px;
    padding: 5px;
    margin: 2px;
    text-align: center;
    background-color: darkolivegreen;
    bo
   
}




main {
     
    width: 800px;
    height: 900px;

  
    text-align: center;
}

section {
    width: 600px;
    height: 800px;
    border-top-right-radius: 2%;
}

section article {
    background-color: rgb(4, 87, 87);
    border-top: 1px;
    
}


aside {
    text-align: center;
   
    
}

footer {
    text-align: center;
}