@charset "UTF-8";

body {
    width: auto;
    
    background-color: bisque;
    text-align: center;

}

header {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}
main {
    width: 900px;
    height: auto;
}